<div class="container my-4">
  <div *ngIf="currentOrder$ | async; let order">
    <div class="row flex-lg-row-reverse"
         *ngIf="order.LineItemCount">
      <div class="col-lg-4"
           *ngIf="lineItems$ | async; let lineItems">
        <checkout-order-summary [order]="order"
                                [lineItems]="lineItems.Items"></checkout-order-summary>
      </div>
      <div class="col-lg-8">
        <ngb-tabset (tabChange)="beforeChange($event)"
                    type="steps"
                    #tabs="ngbTabset"
                    justify="justified"
                    [activeId]="currentPanel">
          <ngb-tab *ngIf="isAnon"
                   id="login"
                   title="Login">
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-4">
                  <button class="btn btn-block btn-primary"
                          routerLink="/login">Login</button>
                </div>
                <div class="col-4">
                  <button class="btn btn-block btn-primary"
                          routerLink="/register">Create Account</button>
                </div>
                <div class="col-4">
                  <button class="btn btn-block btn-primary"
                          (click)="toSection('shippingAddress')">Checkout as Guest</button>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="shippingAddress"
                   title="Shipping">
            <ng-template ngbTabContent>
              <checkout-address [isAnon]="isAnon"
                                addressType="Shipping"
                                (continue)="toSection('billingAddress')"></checkout-address>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="billingAddress"
                   [disabled]="!getValidation('shippingAddress')"
                   title="Billing">
            <ng-template ngbTabContent>
              <checkout-address [isAnon]="isAnon"
                                addressType="Billing"
                                (continue)="toSection('payment')"></checkout-address>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="payment"
                   title="Payment">
            <ng-template ngbTabContent>
              <checkout-payment [isAnon]="isAnon"
                                (continue)="toSection('confirm')"></checkout-payment>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="confirm"
                   title="Confirm">
            <ng-template ngbTabContent>
              <checkout-confirm (continue)="submitOrder()"
                                [isSubmittingOrder]="isSubmittingOrder"></checkout-confirm>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>