<button type="button"
        class="btn btn-outline-primary btn-block mb-3"
        aria-controls="shoppingCartSummary"
        (click)="cartCollapsed = !cartCollapsed"
        [attr.aria-expanded]="!cartCollapsed">X Items in Your Cart</button>
<div id="cartSummary"
     [ngbCollapse]="cartCollapsed">
  <shared-line-item-card *ngFor="let li of lineItems"
                         [lineitem]="li"
                         [productDetails]="li.Product"
                         readOnly="true"></shared-line-item-card>
</div>
<div class="text-right"><b class="float-left">Subtotal</b><span class="sub-total">{{order.Subtotal | currency}}</span></div>
<div class="text-right"><b class="float-left">Shipping</b><span class="shipping-cost">{{ display('ShippingCost') }}</span></div>
<div class="text-right"><b class="float-left">Tax</b><span class="tax-cost">{{ display('TaxCost') }}</span></div>
<hr>
<h5 class="text-right"><span class="float-left">Total</span><span class="font-weight-light order-total">{{order.Total | currency}}</span></h5>