<div class="row mb-3">
  <div class="col-5 col-sm-4 col-md-3 col-xl-2">
    <img class="img-thumbnail"
         appFallbackImage
         [src]="lineitem.Product?.xp?.imageURLs[0] || 'http://placehold.it/300x300'">
  </div>
  <div class="col pl-0">
    <div class="row flex-column flex-md-row">
      <div class="col-auto col-md-9">
        <h6>
          <a [routerLink]="['/products', lineitem.Product.ID]"
             class="link-text">{{lineitem.Product.Name}}</a>
        </h6>
        <p class="small text-muted d-none d-sm-block">{{lineitem.Product.ID}}</p>
        <p>{{lineitem.UnitPrice | currency}}</p>
      </div>
      <div class="col-auto col-md-3">
        <shared-quantity-input *ngIf="!readOnly"
                               [product]="productDetails"
                               [existingQty]="lineitem.Quantity"
                               (qtyChanged)="updateQuantity($event)"></shared-quantity-input>
        <span class="text-nowrap"
              *ngIf="readOnly">&times;{{ lineitem.Quantity | number }}</span>
      </div>
    </div>
  </div>
  <div class="col-auto"
       *ngIf="!readOnly">
    <a class="text-danger btn btn-link px-0 delete-lineitem"
       (click)="deleteLineItem()">
      <fa-icon [icon]="removeIcon"
               class="d-inline d-sm-none"></fa-icon><span class="d-none d-sm-inline">Remove</span>
    </a>
  </div>
</div>